.collapse{
    background-color: rgb(18, 116, 116);
    .nav-item{
        margin-left: 50px;
    }
    .navbar-nav{
        margin-left: 350px;
    }
   
}
#intro{
    .img img{
        width: 100%;margin-left: -80px;
    }
    .img2 img{
        margin-left: 400px;margin-top: -500px;
    }
  
   
}
.cart1{
    .desc{
        width: 500px;margin-top: -200px;
    }
    .title{
        margin-top: -200px;
    }
}
#main1{
    .container{
        .row{

            .cart3{
                margin-top: 200px;margin-left: 40px;
                .img3{
                    margin-left: 120px;
                }
                .desc3 p{
                    text-align: center;
                }
                .title3{
                    margin-left: 70px;
                }
            }
        }
    }
}
